body {
    margin: 0;
}

.banner {
    position: relative;
    padding: 0.1em;
    text-align: center;
    background-color: rgb( 75, 80, 75 );
    color: white;
}

.banner-actions {
    position: absolute;
    top: 16px;
    right: 10px;
}

.banner-actions a {
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
    text-decoration: none;
    color: white;
    font-size: 1.35em;
    background-color: rgb( 160, 160, 160 );
}

.banner-actions a:hover {
    background-color: black;
}

.menu {
    padding: 0 1em;
    overflow: auto;
    background-color: rgb( 119, 127, 119 );
}

.left-menu,
.right-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-menu {
    float: left;
}

.right-menu {
    float: right;
}

.left-menu li,
.right-menu li {
    display: inline-block;
}

.left-menu li a,
.right-menu li a {
    display: inline-block;
    padding: 0.35em;
    /*margin: 0 0.25em;*/
    text-decoration: none;
    color: white;
}

.left-menu li a:hover,
.right-menu li a:hover {
    background-color: black;
}