body {
    height: 100vh; /* viewport height */
    margin: 0;
    display: flex;
    justify-content: center; /* horizontal centering of child (calculator) */
    align-items: center; /* vertical centering of child (calculator) */
}

.calculator {
    width: 400px;
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 5px;
}

.input-box {
    height: 68px; /* 16px * 2 * 2.25 */
    font-size: 2em;
    line-height: 2.25;
    text-align: right;
}

.buttons-list {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.button {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100px;
    font-size: 1.5em;
}